@use "../utilities/_variables.scss" as *;

body {
  height: 100%;
}

body {
  background-color: $back-color;
  border: 1px solid $border-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}